<img class="mx-auto mb-2" src="/images/egg-logo-small.png" alt="egg" width="150" height="150">

<h1 class="mb-5">Make Eggs</h1>

<div class="container">
    <%= render partial: 'shared/articles_list', locals: { articles: @articles } %>
</div>