<div class="mb-5 p-4 bg-light rounded">
    <p class="fw-bold mb-1"><%= comment.user.user_name %></p>
    <p class="fs-3 mb-3"><%= comment.body %></p>

    <% if comment.user == current_user %>
    <%= link_to "Delete Comment", [comment.article, comment],data: {turbo_method: :delete, turbo_confirm: "Are you sure"}%>
    <% end %>
</div>