<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: "form-control w-auto"%>
    </p>



    <div class="btn btn-primary">
        <%= form.submit %>
    </div>
<% end %>