<%= form_with model: [ @article, @article.comments.build ] do |form| %>

<%= form.text_area :body, class: "form-control mb-4 w-100"%>



<div class="btn btn-primary">
    <%= form.submit %>
</div>
<% end %>