<h1 class="mb-5">Search</h1>

<!-- Search Form -->
<div class="container">
    <h3 class="mb-3">Eggs</h3>
    <div>
        <input type="text" id="search-input" placeholder="Search by egg title" class="form-control mb-2" />
    </div>

    <!-- Search Results -->
    <div id="article-results">
        <%= render partial: 'shared/articles_list', locals: { articles: @articles } %>
    </div>
</div>