<h1 class="mb-4">New Article</h1>

<div class="button-container d-flex flex-row ">
    <img id="shrek-sticker-1" class="sticker-button" src="/shrek.png" alt="shrek" width="50" height="50">
    <img id="shrek-sticker-2" class="sticker-button" src="/shrek-stand.png" alt="shrek" width="50" height="50">
  </div>
<div data-controller="canvas" id="canvas-container">
  
    <img class="position-absolute mouse-sticker"  style="opacity: 0.25; pointer-events: none; "id="mouse-sticker" src="/shrek.png" alt="shrek" width="50" height="50">
  
  <canvas class="border" id="fabricCanvas" width="600" height="400"></canvas>
</div>


<%= render "form", article: @article %>