<h1 class="mb-4">New Article</h1>

<div class="button-container d-flex flex-row ">
  <% Dir.glob("#{Rails.root}/public/shrek/*").each do |image_path| %>
    <% image_file = File.basename(image_path) %>
    <img id="<%= image_file.chomp(File.extname(image_file)) %>-sticker" class="sticker-button" src="/shrek/<%= image_file %>" alt="shrek" width="50" height="50">
  <% end %>
</div>
<div data-controller="canvas" id="canvas-container">
  
    <img class="position-absolute mouse-sticker"  style="opacity: 0.25; pointer-events: none; "id="mouse-sticker" src="/shrek/shrek.png" alt="shrek" width="50" height="50">
  
  <canvas class="border" id="fabricCanvas" width="600" height="400"></canvas>
</div>


<%= render "form", article: @article %>