<ul class="list-group p-0 container">
    <% if articles.any? %>
    <% articles.each do |article| %>
    <li class="list-group-item list-group-item-action mb-3 rounded border p-0 d-flex flex-align-start align-items-center">
        <a class="p-5 w-100 h-100 " href="<%= article_path(article) %>">
            <% if article.image.present? %>
            <div class="mb-2 pe-4">
                <%= cl_image_tag(article.image, width: 100) %>
            </div>
            <% end %>
            <div>
                <strong><%= article.title %></strong>
            </div>
        </a>
    </li>
    <% end %>
    <% else %>
    <% if @query.length > 0 %>
    <li>No articles found</li>
    <% end %>
    <% end %>
</ul>