.articles-list {
}

.article-list-item {
  border: none;
  transition: 0.25s;

  a {
    color: black;
  }

  .image {
    aspect-ratio: 16/9;
    position: relative;
    transition: 0.25s;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &:hover,
  &:focus {
    .image {
      scale: 1.01;
    }
  }
}
