.articles-list {
}

.article-list-item {
  a {
    color: black;
  }

  .image {
    aspect-ratio: 16/9;
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}
