.canvas-container {
  overflow: hidden;
}

.mouse-sticker {
  z-index: 1;
}

.canvas-button-container {
  .sticker-button {
    &:hover {
      background-color: #efefef;
    }
  }
}

.sticker-size {
  writing-mode: vertical-rl;
  direction: rtl;
  vertical-align: middle;
  height: 50%;
}

.canvas-image-alt-btns {
  margin-left: 89px;
}
