.canvas-container {
  overflow: hidden;
  position: relative;

  &[data-active="false"] {
    &:before {
      content: "Double click to create a new sticker";
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      font-size: 25px;
      color: white;
      font-weight: bold;
      z-index: 1001;
      font-family: "Courier New", Courier, monospace;
      text-align: center;
    }
    &:after {
      background-color: rgba(0, 0, 0, 0.4);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }
}

.mouse-sticker {
  z-index: 1;
}

.canvas-button-container {
  .sticker-button {
    &:hover {
      background-color: #efefef;
    }
  }
}

.sticker-size {
  writing-mode: vertical-rl;
  direction: rtl;
  vertical-align: middle;
  height: 50%;
}

.sticker-btn {
  width: 40px;
  height: 40px;
  padding: 0;
}

.canvas-image-alt-btns {
  padding-left: 89px;
}
