body {
  background-image: url("/lilypads.jpg");
  background-repeat: repeat;
  background-size: 300px;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 255, 230, 0.85);
  }
}

main {
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

.article-body {
  max-width: 768px;
}
